{% extends "courses/layout.html" %}
{% block body %}
<h1>{{ course.c_id }}</h1>
<ul>
    <li>Title : {{ course.title }}</li>
    <li>Semmester : {{ course.semmester }}</li>
    <li>Year : {{ course.year }}</li>
    <li>seat / max : {{ course.seat_count }} / {{ course.max_seat }}</li>

    {% if course.quota %}
    <li> available</li>
    {% else %}
    <li> unavailable</li>

    {% endif %}
</ul>

{% if user.is_staff %}
<p1><b> Admin Interface </b></p1>
<div class="table" align="center">
    <table>
        <tr>
            <th>Student List</th>
        </tr>
        {% for attendance in course.attend.all %}
        <td>{{ attendance }}</td>
        {% endfor %}
        <tr>
            <th>Student not enroll</th>
        </tr>
        {% for student in User %}
            
            {% if student not in course.attend.all %}
        
            <td>{{ student }}</td>
            {% endif %}
            
        {% endfor %}

    </table>

</div>
{% endif %}


{% if course.quota  %}
<h2>Register</h2>
<form action="{% url 'book' course.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="enroll">
</form>

<a href="{% url 'c_index' %}">Back to Course List</a>
{% endif %}

{% endblock %}