{% extends "courses/layout.html" %}
{% block body %}
<h1>Course {{ course.id }}</h1>
<ul>
    <li>Course id : {{ course.c_id }} </li>
    <li>Title : {{ course.title }}</li>
    <li>Semmester : {{ course.semmester }}</li>
    <li>Year : {{ course.year }}</li>
    <li>taken seat : {{ seat_count }}</li>
    <li>Max seat : {{ course.max_seat }}</li>
    <li>Quota : {{ course.quota }}</li>

</ul>

{% if user.is_staff %}
<p1><b> Admin Interface </b></p1>
<div class="table" align="center">
    <table>
        <tr>
            <th>Student List</th>
        </tr>
        {% for attendance in course.attendance.all %}
        <td>{{ attendance }}</td>
        {% endfor %}

    </table>
</div>
{% endif %}

<h2>Register</h2>
<form action="{% url 'book' course.id %}" method="POST">
    {% csrf_token %}
    <select name="attendance">
        {% for pafwjker in non_pneifns %}
        <option value="{{ attendance.id }}">{{ attendance }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add Attendance">
</form>

<a href="{% url 'index' %}">Back to Course List</a>
{% endblock %}