{% extends 'courses/layout.html' %}
{% block body %}


<h1>Course List:</h1>
<ul>
    {% for course in courses %}
    <!-- <li><a href="{% url 'course' course.id %}">{{ course }}</a> -->
    <li>{{ course.c_id }}
    {% if course.quota %}
    <sup> available </sup>
    {% else %}
    <sup> not available </sup>
    {% endif %}
    </li>
    {% empty %}
    <li>No courses.</li>

    {% endfor %}
</ul>

<h1>Course List:</h1>
<table style="width:50%" align="center">
    <thead>
        <tr align="center">

            <td>Code</td>
            <td>Course Title</td>
            <td>Semester</td>
            <td>Year</td>
            <td>Seat</td>
            <td>Status</td>
            <td>Proceed</td>
        </tr>
    </thead>
    {% for class in course %}
    {% if request.user in class.attend.all %}
    <tbody>
        <tr align="center">
            <td>{{ class.c_id }}</td>
            <td>{{ class.title }}</td>
            <td>{{ class.seat_count }} / {{class.max_seat}}</td>
            <td><form action="{% url 'cancel' class.id %}" method="POST">
              {% csrf_token %}
            <input type="submit" value="withdraw">
      
          </td>
            
            </form>
        </tr>
    </tbody>
    {% endif%}
    {% endfor %}

</table>

<a href="{% url 'index' %}">Back</a>
{% endblock %}