{% extends 'students/layout.html' %}
{% block body %}
<style>
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>

<h3>Quota Request Result</h3>
<table style="width:50%" align="center">
  
    <tr>
      <th>Course ID</th>
      <th>Course Title</th>
      <th>Proceed</th>
    </tr>
    {% for class in course %}
    {% if request.user in class.attend.all %}
    <tr>
      <td>{{ class.c_id }}</td>
      <td>{{ class.title}}</td>
      <td>{{ class.seat_count }} / {{class.max_seat}}</td>

      <form action="{% url 'cancel' class.id %}" method="POST">
        {% csrf_token %}
      <input type="submit" value="withdraw">

    </form>
    
    </tr>
    {% endif %}
    {% endfor %}
</table>


<a href="{% url 'index' %}">Back</a>
{% endblock %}